@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Sans:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "reset.css";
@import "variables.css";

/* components */
@import "components/status-bar.css";

/* screens */
@import "screens/login.css";


body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}